/* mobile */
.mail-preview {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
    width: 100%;
    gap: 10px;
}

.mail-preview {
    background-color: var(--clrPrimary-1);
}

.mail-preview .mail-content {
    grid-area: 2 / 1 / span 1 / span 2;
}

.mail-preview .date {
    justify-self: end;
}

.mail-preview.unread{
    background-color: unset;
}

.mail-preview.unread .from,
.mail-preview.unread .subject {
    font-weight: bold;
}

/* Tablet */
@media (width >=768px) {}

/* desktop */
@media (width >=992px) {

    .mail-preview {
        grid-template-columns:
            minmax(auto, 160px) 1fr minmax(auto, 75px);
        grid-template-rows: unset;
        gap: 20px;
    }

    .mail-preview .mail-content {
        grid-area: unset;
    }

}