.mail-list {
    /* padding-block-start: 20px; */
    padding-inline: 0;
    margin: 0;
    list-style: none;
    display: grid;
    align-items: center;
    justify-items: stretch;
    /* gap: 3px; */
}

.mail-list li {
    position: relative;

}
