:root {

    /* shared */
    /* --mq-m: 768px;
    --mq-l: 992px; */

    /* notes */
    --grey-outline: #e0e0e0;
    --action-btn: #202124;

     /* gmail */
     --clr-font-Primary1: #5f6368; /* mail content */
     --clr-font-PrimaryBase: #262627;/* all fonts */
 
     --clrPrimary2: #c2e7ff; /* add mail btn bg */
     --clrPrimary1: #d3e3fd; /* side bar active */
     --clrPrimaryBase: #f6f8fc;/*sidebar & header bg */
     --clrPrimary-1: #f2f6fc; /* already read mail bg */
     --clrPrimary-2: #eaf1fb;/* search box bg */
     --clrPrimary-3: #ffffff; /* white */

     --border-radius: 20px;

     /* #f2f6fb ediy header */
}

/* Tablet */
/* @media (width >= 768px) {} */

/* desktop */
/* @media (width >= 992px) { */
