.add-note {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
  margin-block-end: 40px;
  padding-block: 10px 5px;
  padding-inline: 20px;
  border-radius: 10px;
  border: 1px solid var(--grey-outline);
  box-shadow: 1px 1px 7px 1px rgb(0 0 0 / 19%);
  transition: 0.2s;
}

.add-note .close-btn {
  position: absolute;
  top: -7px;
  left: -7px;
  font-size: 20px;
  color: var(--action-btn);
  cursor: pointer;
}

.add-note .close-btn:hover {
  filter: brightness(60%);
}

.add-note-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.add-note .add-note-form input:not([type='checkbox']) {
  border: unset;
  padding-block: 5px;
  background-color: transparent;
  width: 80%;
}

.add-note .add-note-form input:focus-visible {
  outline: unset;
}

.add-note .add-note-form .pin-img {
  position: absolute;
  right: 0;
  width: 23px;
  cursor: pointer;
}

.add-note .add-note-form .tool-bar {
  display: flex;
  align-items: center;
  margin-block-start: 15px;
}

.add-note .add-note-form .add-btn {
  position: absolute;
  right: 0;
  padding: 5px 12px;
  border-radius: 10px;
  transition: 0.2s;
}

.add-note .add-note-form .add-btn:hover {
  background-color: #dcdcdc72;
}

.note-content {
  display: flex;
  position: relative;
}

.note-type-container {
  position: relative;
  margin: auto;
}

.note-type-container .note-type-bar {
  top: -22px;
  left: -60px;
}

.add-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-todo .new-todo-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.add-todo img {
  width: 25px;
  cursor: pointer;
}

.add-todo img:hover {
  filter: brightness(80%);
}

.add-note .edit-btns {
  position: relative;
}

/* Tablet */
@media (width >=768px) {
}

/* desktop */
@media (width >=992px) {
}
