.note-list {
  column-count: 4;
  column-width: 250px;
  column-gap: 10px;
  margin-block-end: 10px;
  width: 90%;
}

.note-list-item {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  margin-block-end: 10px;
  padding-block-end: 40px;
  cursor: auto;
  break-inside: avoid;
}

.note-list-item.note-border {
  border: 1px solid var(--grey-outline);
}
