.note-type-bar {
  top: 0;
  right: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  padding-block: 12px;
}

.note-type-bar img {
  width: 18px;
  cursor: pointer;
}

.note-type-bar img:hover {
  filter: brightness(80%);
}
