.mail-app {
  background-color: var(--clrPrimaryBase);
  position: relative;
}

/* Tablet */
@media (width >=500px) {
  .mail-app {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
  }
}

/* desktop */
@media (width >=992px) {
}
