* {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: roboto-regular, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: roboto-bold, Arial, sans-serif;
  font-weight: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;

  cursor: pointer;
  border: 0;
  background-color: unset;
  padding: 0;
}

.btn {
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

.page {
  padding-block-start: 127px;
  min-height: 100dvh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
}

.main-screen {
  position: fixed;
  inset: 0;
  background-color: #54545474;
  cursor: pointer;
  z-index: 25;
}

input[type='checkbox'] {
  cursor: pointer;
}

/* Tablet */
@media (width >=768px) {
  .page.mail-app {
    padding-inline-end: 20px;
  }
}

/* desktop */
@media (width >=992px) {
}
