body {
  margin: 0;
  box-sizing: border-box;
  /* font-family: google-sans-regular, Arial, sans-serif; */
  font-family: roboto-regular, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  /* font-family: roboto-regular, Arial, sans-serif; */
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  font-family: roboto-regular, Arial, sans-serif;

  cursor: pointer;
  border: 0;
  background-color: unset;
}

.page {
  padding-block: 75px 10px;
}
