.note-index {
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
  padding-block-start: 20px;
}

.page-layout {
  display: flex;
}

.list-header {
  font-weight: 600;
  width: 90%;
}
