.app-header {
  box-sizing: border-box;
  background: lightcyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  padding-inline: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

nav a {
  margin: 0.5em;
}

nav a:active {
  color: purple;
}

nav a.active {
  color: darkblue;
  font-weight: bold;
  text-decoration: overline;
}
