.app-header {
  box-sizing: border-box;
  background: var(--brand-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding-inline: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.app-header .logo-container {
  display: flex;
  align-items: center;
}

.app-header .app-logo {
  width: 35px;
  margin-inline-end: 5px;
}

nav a:not(.sidebar-btns nav a) {
  margin: 0.5em;
}

nav a:active:not(.sidebar-btns nav a) {
  color: purple;
}

nav a.active:not(.sidebar-btns nav a) {
  color: #4a2d2d;
  font-weight: bold;
  text-decoration: overline;
}
