/* mobile only */
/* @media (width <=500px) {
  .mail-filter.dynamic-header {
    display: none;
  }
} */

.dynamic-header {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 80%;
  gap: 15px;
  align-items: center;
  position: fixed;
  top: 4em;
  padding: 8px 10px;
  right: 0;
  background-color: white;
  border-bottom: 1px solid var(--grey-outline);
  z-index: 15;
}

.dynamic-header:not(.mail-filter) {
  grid-template-columns: auto 1fr auto;
  width: 100%;
}

.logo-menu-wrapper {
  display: flex;
  align-items: center;
}

.dynamic-header .btn-menu {
  padding: 12px;
  font-size: 18px;
  color: #5f6368;
}

.dynamic-header .search-form {
  display: flex;
  align-items: center;
  background-color: #f1f3f4;
  border-radius: 8px;
}

.dynamic-header .search-input {
  background-color: transparent;
  border: 0;
  padding-block: 11px;
  width: 80%;
}

.dynamic-header .search-input:focus-visible {
  outline: unset;
}

.dynamic-header button {
  width: 46px;
  height: 46px;
  padding-inline: 5px;
}

.dynamic-header .search-img {
  width: 27px;
}

.dynamic-header .fa-filter {
  color: var(--action-btn);
  cursor: pointer;
  transition: 0.2s;
}

.dynamic-header .fa-filter:hover {
  filter: brightness(80%);
}

.mail-filter .fa-filter {
  cursor: pointer;
}

.mail-read-filter {
}
