/* mobile only */
@media (width <=768px) {
  .dynamic-sidebar .sidebar {
    position: absolute;
    background-color: lightblue;
    z-index: 5;
    width: 80vw;
    top: 0;
    bottom: 0;
    padding-block-start: 10px;
  }
}

.dynamic-sidebar .sidebar {
  display: grid;
  align-content: start;
  gap: 20px;
  justify-items: start;
  padding-inline-start: 10px;
}

.dynamic-sidebar .sidebar .btn {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  text-align: start;
  align-items: center;
  min-height: 19px;
}

/* Tablet */
@media (width >=768px) {
}

/* desktop */
@media (width >=992px) {
}
