.about-us {
  text-align: center;
}

.about-us nav {
  margin-block-end: 25px;
}

.about-us a {
  margin-inline: 10px;
  text-decoration: underline;
}

.about-us a:hover {
  filter: brightness(80%);
}
