.book-list {
  padding: 0;
  list-style-type: none;
}

.book-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-green);
  text-align: center;
}

.book-list li {
  color: var(--off-white);
}

.book-list li .book-img {
  width: 90%;
}
